<app-navbar></app-navbar>
<div class="container">

<h1>Update parking</h1>
<form action="" #contactForm="ngForm">
    <input type="text" class="form-control" id="iduser" name="iduser" [(ngModel)]="parkingUpdate.idparking" hidden #name="ngModel">
    <div class="mb-4">
      <label for="name" class="form-label">Nombre del parqueo</label>
      <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="parkingUpdate.parkingname" required #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
    </div>
  <br>
  <div class="d-grid gap-2 col-4 float-end">
    <button type="submit" class="btn btn-info btn-lg" (click)="updateParking()">Actualizar</button>
  </div>
</form>

</div>
<br><br><br><br><br>
