        <!-- MENU BAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="">Cloud Parking</a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a href="#home" class="nav-link smoothScroll">Inicio</a>
                        </li>
                             <!--Operador y administrador-->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/vehicle">Vehiculo</a> 
                        </li>
                          <li class="nav-item"> 
                            <a class="nav-link" routerLink="/list">Usuario</a> 
                        </li>
                       <li class="nav-item">
                        <a class="nav-link" routerLink="/vehicle">Cliente</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/parking">Parqueo</a> 
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/slot">Espacio</a> 
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/reservation">Reservacion</a> 
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" routerLink="/rol">Roles</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/tarifa">Tarifa</a> 
                        </li>
                        <li class="nav-item" routerLinkActive="active"> 
                          
                            <a class="nav-link" routerLink="/Tarifa">Home</a> 
                                
                           
                        </li>
                         <li class="nav-item">
                          <a href="" onclick="Logout(); return false;">Salir</a>
                        </li>      
                    </ul>
                </div>
    
            </div>
        </nav>

<div class="container">
    <button class="btn btn-primary" [routerLink]="['/register']" routerLinkActive="router-link-active" >Agregar</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">IDUser</th>
                <th scope="col">IDrol</th>
                <th scope="col">Name</th>
                <th scope="col">DNI</th>
                <th scope="col">Age</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
                <th scope="col">Clave</th>
                <th scope="col">State</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let users of list">
                <td>{{users.iduser}}</td>
                <td>{{users.rol.name}}</td>
                <td>{{users.name}}</td>
                <td>{{users.dni}}</td>
                <td>{{users.age}}</td>
                <td>{{users.telephone}}</td>
                <td>{{users.email}}</td>
                <td>{{users.clave}}</td>
                <td>{{users.state}}</td>
                <td>
                    <button class="btn btn-danger" (click)="delete(users.iduser)">Eliminar</button>
                    <button class="btn btn-warning" [routerLink]="['/editar/',users.iduser]" routerLinkActive="router-link-active" >Modificar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<app-footer></app-footer>