<app-navbar></app-navbar>
<br>
<div class="container">

<h1>Registrar Rol</h1> <br><br>
<button class="btn btn-primary" [routerLink]="['/registerRol']" routerLinkActive="router-link-active" >Agregar</button> <br><br>
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
<thead>
    <tr>
        <th scope="col">IDrol</th>
        <th scope="col">Nombre</th>
        <th scope="col">Autoridad</th>
        <th>Accion</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let roles of listRol">
        <td>{{roles.idrol}}</td>
        <td>{{roles.name}}</td>
        <td>{{roles.authority}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteRoles(roles.idrol)">Eliminar</button>
            <button class="btn btn-warning" [routerLink]="['/editRol/',roles.idrol]" routerLinkActive="router-link-active" >Modificar</button>
        </td>
    </tr>

</tbody>
</table>
</div>

</div>
