<app-navbar></app-navbar>
<br>
<div class="container">

<h1>Registrar Parqueo</h1> <br><br>
<button class="btn btn-primary" [routerLink]="['/registerParking']" routerLinkActive="router-link-active" >Agregar</button> <br><br>
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
<thead>
    <tr>
        <th scope="col">IDparking</th>
        <th scope="col">Nombre</th>
        <th>Accion</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let parkings of listParking">
        <td>{{parkings.idparking}}</td>
        <td>{{parkings.parkingname}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteParking(parkings.idparking)">Eliminar</button>
            <button class="btn btn-warning" [routerLink]="['/editParking/',parkings.idparking]" routerLinkActive="router-link-active" >Modificar</button>
        </td>
    </tr>

</tbody>
</table>
</div>
</div>