<div class="container-fluid footer mt-5 footer-dark bg-dark">
  <div class="row">
    <!-- name  -->

    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-auto">
          <p class="pt-2">
            <strong>info@cloudparking.co</strong>
          </p>
        </div>
      </div>
      <!--Grid row-->
    </form>

    <!-- socialmedia -->
    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-auto">
          <div class="text-center p-3">
            <strong> Copyright © 2022 Cloud Parking by IF4101</strong>
          </div>
        </div>
      </div>
      <!--Grid row-->
    </form>
  </div>
</div>
