<app-navbar></app-navbar>
<br>
<div class="container">
 
<h1>Vehiculos</h1> <br><br>
  <button class="btn btn-primary" [routerLink]="['/registerVehicle']" routerLinkActive="router-link-active" >Agregar</button> <br><br>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
          <tr>
              <th >IDVehicle</th>
              <th >IDtype</th>
              <th >Brand</th>
              <th >Model</th>
              <th >Color</th>
              <th >Year</th>
              <th >Register</th>
              <th >Desription</th>
              <th >Estado</th>
              <th>#</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let vehicles of listVehicle">
              <td>{{vehicles.idvehicle}}</td>
              <td>{{vehicles.type.name}}</td>
              <td>{{vehicles.brand}}</td>
              <td>{{vehicles.model}}</td>
              <td>{{vehicles.color}}</td>
              <td>{{vehicles.year}}</td>
              <td>{{vehicles.register}}</td>
              <td>{{vehicles.description}}</td>
              <td>{{vehicles.state}}</td>
              <td>
                  <button class="btn btn-danger" (click)="delete(vehicles.idvehicle)">Eliminar</button>
                  <button class="btn btn-warning" [routerLink]="['/updateVehicle/', vehicles.idvehicle]" routerLinkActive="router-link-active" >Modificar</button>
              </td>
          </tr>

      </tbody>
  </table>
</div>


