<app-navbar></app-navbar>
<div class="container">

<h1>Actualizar Vehículo</h1>
<form action="" #contactForm="ngForm">
    <input type="text" class="form-control" id="idvehicle" name="iduser" [(ngModel)]="vehicleUpdate.idvehicle" hidden #name="ngModel">
  
    <div class="mb-4">
        <label for="department" class="form-label">Rol</label>
        <select name="roles"class="form-control" [(ngModel)]="vehicleUpdate.type.idtype">
          <option>Open this select menu</option>
          <option [value]="type.idtype"*ngFor="let type of typeList">
            {{type.name}}
          </option>
          
        </select>
      </div>
  
    <div class="mb-4">
    <label for="name" class="form-label">Marca</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="vehicleUpdate.brand" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  
  <div class="mb-4">
    <label for="name" class="form-label">Modelo</label>
    <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="vehicleUpdate.model" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
    <div class="mb-4">
    <label for="name" class="form-label">Color</label>
    <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="vehicleUpdate.color" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="name" class="form-label">Año</label>
    <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="vehicleUpdate.year" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="name" class="form-label">Matricula</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="vehicleUpdate.register" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="mb-4">
    <label for="name" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="vehicleUpdate.description" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">This field is required.</div>
  </div>
  <div class="d-grid gap-2 col-4 float-end">
    <button type="submit" class="btn btn-info btn-lg" (click)="updateVehicle()">Actualizar</button>
  </div>
</form>

</div>
<br><br><br><br><br>
<app-footer></app-footer>