<app-navbar></app-navbar>
<br>
<div class="container">
   
<h1>Registrar espacios</h1> <br><br>
    <button class="btn btn-primary" [routerLink]="['/registerSlots']" routerLinkActive="router-link-active" >Agregar</button> <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">IDSlots</th>
                <th scope="col">IDparking</th>
                <th scope="col">IDtype</th>
                <th scope="col">Number</th>
                <th scope="col">PreferentialSlot</th>
                <th scope="col">State</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let slots of listSlot">
                <td>{{slots.idparkingslot}}</td>
                <td>{{slots.parking.parkingname}}</td>
                <td>{{slots.typevehicle.name}}</td>
                <td>{{slots.number}}</td>
                <td>{{slots.preferentialslot}}</td>
                <td>{{slots.state}}</td>
                <td>
                    <button class="btn btn-danger" (click)="delete(slots.idparkingslot)">Eliminar</button>
                    <button class="btn btn-warning" [routerLink]="['/updateSlots/',slots.idparkingslot]" routerLinkActive="router-link-active" >Modificar</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>


