<app-navbar></app-navbar>

<div class="container">

<h1>Update Rol</h1>
<form action="" #contactForm="ngForm">
    <input type="text" class="form-control" id="iduser" name="iduser" [(ngModel)]="rolUpdate.idrol" hidden #name="ngModel">
  <div class="form-group">
    <label for="department" class="form-label">Autoridad</label>
    <select name="roles"class="form-control " [(ngModel)]="rolUpdate.authority">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <br>
  <div class="d-grid gap-2 col-4 float-end">
    <button type="submit" class="btn btn-info btn-lg" (click)="updateRol()">Actualizar</button>
  </div>
</form>

</div>
<br><br><br><br><br>
<app-footer></app-footer>