        <!-- MENU BAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="">Cloud Parking</a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a href="#home" class="nav-link smoothScroll">Inicio</a>
                        </li>
                             <!--Operador y administrador-->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/vehicle">Vehiculo</a> 
                        </li>
                          <li class="nav-item"> 
                            <a class="nav-link" routerLink="/list">Usuario</a> 
                        </li>
                       <li class="nav-item">
                        <a class="nav-link" routerLink="/seats">Cliente</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/parking">Parqueo</a> 
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/slot">Espacio</a> 
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" routerLink="/reservation">Reservacion</a> 
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" routerLink="/rol">Roles</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/tarifa">Tarifa</a> 
                        </li>
                        <li class="nav-item" routerLinkActive="active"> 
                          
                            <a class="nav-link" routerLink="/Tarifa">Home</a> 
                                
                           
                        </li>
                         <li class="nav-item">
                          <a href="" onclick="Logout(); return false;">Salir</a>
                        </li>      
                    </ul>
                </div>
    
            </div>
        </nav>
            <!-- HERO -->

<ng-container ngif="">  

</ng-container>

         <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
    
                <div class="bg-overlay"></div>
    
                   <div class="container">
                        <div class="row">
    
                             <div class="col-lg-8 col-md-10 mx-auto col-12">
                                  <div class="hero-text mt-5 text-center">
    
                                       
    
                                        <h1 class="text-black" data-aos="fade-up" data-aos-delay="500">CLOUD PARKING</h1>
    
                                       
                                       
                                  </div>
                             </div>
    
                        </div>
                   </div>
         </section>
   