<app-navbar></app-navbar>
<div class="container">

<h1>Datos Rol</h1>
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && addRol()">

    <div class="form-group">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newRol.name" required #name="ngModel" 
         [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
       
      </div>

    <div class="form-group">
    <label for="department" class="form-label">Autoridad</label>
    <select name="roles"class="form-control " [(ngModel)]="newRol.authority">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>

    <br>
  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>

</form>

</div>
<br><br><br><br><br>
