  <!-- MENU BAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="">Cloud Parking</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link smoothScroll">Inicio</a>
                </li>
                     <!--Operador y administrador-->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/vehicle">Vehiculo</a> 
                </li>
                  <li class="nav-item"> 
                    <a class="nav-link" routerLink="/list">Usuario</a> 
                </li>
               <li class="nav-item">
                <a class="nav-link" routerLink="/vehicle">Cliente</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/parking">Parqueo</a> 
                </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/slot">Espacio</a> 
                </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/reservation">Reservacion</a> 
                </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLink="/rol">Roles</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tarifa">Tarifa</a> 
                </li>
                <li class="nav-item" routerLinkActive="active"> 
                  
                    <a class="nav-link" routerLink="/Tarifa">Home</a> 
                        
                   
                </li>
                 <li class="nav-item">
                  <a href="" onclick="Logout(); return false;">Salir</a>
                </li>      
            </ul>
        </div>

    </div>
</nav>

<div class="container">

<h1>Datos Rol</h1>
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && addRol()">

    <div class="form-group">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newRol.name" required #name="ngModel" 
         [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
       
      </div>

    <div class="form-group">
    <label for="department" class="form-label">Autoridad</label>
    <select name="roles"class="form-control " [(ngModel)]="newRol.authority">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>

    <br>
  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>

</form>

</div>
<br><br><br><br><br>
