<app-navbar></app-navbar>

<div class="container">

<h1>Datos Usuario</h1>
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && addUser()">

    <div class="form-group">
    <label for="department" class="form-label">Rol</label>
    <select name="roles"class="form-control" [(ngModel)]="newUser.rol.idrol">
      <option>Open this select menu</option>
      <option [value]="rol.idrol"*ngFor="let rol of rolsList">
        {{rol.name}}
      </option>
      
    </select>
  </div>
  <div class="form-group">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="namee" name="namee" [(ngModel)]="newUser.name" required #name="ngModel" 
     [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
   
  </div>

  <div class="form-group">
    <label for="name" class="form-label">dni</label>
    <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="newUser.dni" required #name="ngModel"
    [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
    
  </div>
    <div class="form-group">
    <label for="name" class="form-label">Edad</label>
    <input type="number" class="form-control" id="telephone" name="telephone" [(ngModel)]="newUser.age" required #name="ngModel"   
    [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
   
  </div>
  <div cclass="form-group">
    <label for="name" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="newUser.telephone" required #name="ngModel"  
    [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>

  </div>
  <div class="form-group">
    <label for="name" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newUser.email" required #name="ngModel"  
     [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
  </div>
  <div class="form-group">
    <label for="name" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="newUser.clave" required #name="ngModel" 
      [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>

  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>

</form>

</div>
<br><br><br><br><br>
